{% extends "rmais/base-admin.html" %}


{###################################################
### deixar o block e a url da imagem na mesma linha
### para não gerar espaço e dar erro no link da img 
### block top >>>
####################################################
##}
{% block title %}Editar Clientes{% endblock %}

{% block banner %}{{ STATIC_URL }}uploads/pagina/banner/banner_home_C3eauxI.png{% endblock %}

{% block iconeSessao %}{{ STATIC_URL }}uploads/categoria/radar_icon.png{% endblock %}
{% block categoriaSessao %}Clientes{% endblock %}

{###################################################
### <<< block top 
####################################################
##}


{% block scriptsrc %}
	<script src="{{ STATIC_URL }}js/admin_clientes.js"></script>
	<script src="{{ STATIC_URL }}js/loader.js"></script>
	<script>
		$("a.clienteEdit").click(function() {
			loader($("a.clienteEdit span"));
			
			clienteId = $('#cliente_id').val();
			token = $('#token').val();

			var localAction = $('#url').val();
			
			$.ajax({
				type: 'POST',
				url: localAction,
				data: $( "#editCliente" ).serialize(),
				// SUCESSO
				success: function(data){
					console.log(data);
					console.log('xgo');
					if(data == 'true'){
						window.location = $('#url-listagem').val(); 
					}else{
						alert('Erro ao Editar usuario');
					}
					remove_loader($("a.clienteEdit span"));
				},
				// ERRO
				error: function (data) {
					// Se deu algum erro, mostro no log do console
					// console.log(data);
					console.log('deu erro');
					remove_loader($("a.clienteEdit span"));
				}
			});
		});
	</script>
{% endblock %}




{% block content %}
	<div class="row">
		<p class="left">
			<a href="{% url 'clientesListagem' %}" class="button secondary alert tiny radius">&larr; Cancelar e voltar para a listagem.</a>
		</p>
		<form method="post" class="editar-cliente" id="editCliente">
			{% csrf_token %}
			<input type="hidden" value="{{csrf_token}}" id="token">
			<input type="hidden" value="{{cliente.id}}" id="cliente_id">


			<div class="small-12 columns">
				<div class="small-2 columns">
					<label for="right-label" class="right inline">Nome da Empresa</label>
				</div>
				<div class="small-10 columns">
					{{ form.nome_da_empresa }}
					<p ng-show="addUsuario.nome_do_usuario.$invalid && !addUsuario.nome_do_usuario.$pristine" class="help-block">You name is required.</p>
				</div>
			</div>

			<div class="small-12 columns">
				<div class="small-2 columns">
					<label for="right-label" class="right inline">Endereço</label>
				</div>
				<div class="small-10 columns">
					{{ form.endereco}}
				</div>
			</div>

			<div class="small-12 columns">
				<div class="small-2 columns">
					<label for="right-label" class="right inline">Nome do Contato</label>
				</div>
				<div class="small-10 columns">
					{{ form.nome_do_contato }}
				</div>
			</div>

			<div class="small-12 columns">
				<div class="small-2 columns">
					<label for="right-label" class="right inline">E-mail do Contato</label>
				</div>
				<div class="small-10 columns">
					{{ form.email_do_contato }}
				</div>
			</div>
			<div class="small-12 columns">
				<div class="small-2 columns">
					<label for="right-label" class="right inline">Ativo</label>
				</div>
				<div class="switch round small-10 columns">
					{{form.ativo}}
					<label for="ativo"></label>
				</div> 
			</div>


			<div class="small-6 small-centered columns">
				<div class="small-12 columns text-center">
					<a href="javscript: void(0);" class="clienteEdit button radius"><span>Editar Cliente</span></a>
				</div>
			</div>
			<input type="hidden" id="url" value="{% url 'clienteEditFormPost' empresa.id %}">
			<input type="hidden" id="url-listagem" value="{% url 'clientesListagem'%}">
		</form>
	</div>

{% endblock %}

