
<section class="top-bar-section">
    <ul class="right">
        <li>
            <a href="#" class="second-color abrir-busca">
                <img src="{{ STATIC_URL }}img/home/search_btn.png"><span class="show-for-small">Busca</span>
            </a>
        </li>

        <!-- TABLET E DESKTOP -->
        <li class="has-dropdown hide-for-small">
            <a href="#" class="btn-menu">
                <img src="{{ STATIC_URL }}img/home/menu_btn.png">

            </a>
            <ul class="dropdown">
                {% for item in menu %}
                    <li class="active">
                        <a href="{% url 'pagina' item.slug %}">
                            {{item.titulo}}
                        </a>
                    </li> 
                {% endfor %}

                
                <li class="has-dropdown">
                    <a href="javascript:void(0);" class="btn-menu menu-admin" >
                        Administrativo
                    </a>
                    <ul class="dropdown">
                        <li class="active">
                            <a href="{% url 'usuarioListagem' %}">
                                Usuarios
                            </a>
                        </li>
                        <li class="active">
                            <a href="{% url 'noticiaListagem' %}">
                                Noticia
                            </a>
                        </li>
                         <li class="active">
                            <a href="{% url 'clientesListagem' %}">
                                Clientes
                            </a>
                        </li>

                    </ul>
                </li>
                




                <li class="active">
                    <a href="{% url 'logout' %}">
                        Logout
                    </a>
                </li>
            </ul>
        </li>
        <!-- / TABLET E DESKTOP -->




        <!-- MOBILE -->
        {% for item in menu %}
            <li class="link-menu show-for-small-only">
                <a href="{% url 'pagina' item.slug %}">{{item.titulo}}</a>
            </li>
        {% endfor %}

        <li class="has-dropdown show-for-small-only">
            <a href="javascript:void(0);" class="btn-menu menu-admin" >
                Administrativo
            </a>
            <ul class="dropdown">
                <li class="active">
                    <a href="{% url 'usuarioListagem' %}">
                        Usuarios
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'noticiaListagem' %}">
                        Noticia
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'clientesListagem' %}">
                        Clientes
                    </a>
                </li>


            </ul>
        </li>

        <li class="link-menu show-for-small-only">
            <a href="{% url 'logout' %}">
                Logout
            </a>
        </li>
        <!-- / MOBILE -->

    </ul>
</section>