	<ol class="joyride-list" data-joyride>
		<li data-button="Começar" data-options="prev_button: false">
			<h4>Vamos começar?</h4>
			<p>Este tutorial irá lhe ensinar como você poderá criar uma notícia no Radar+</p>
		</li>
		<li data-id="nomeDaCategoria" data-text="Próximo" data-options="tip_location: bottom; prev_button: false">
			<h4>Primeiro de tudo:</h4>
			<p>Clique abaixo para escolher sua categoria.</p>
		</li>
		<li data-id="dataDeCadastro" data-class="custom so-awesome" data-text="Próximo" data-prev-text="Anterior" data-options="tip_location:bottom;tip_animation:fade">
			<h4>Segundo passo</h4>
			<p>
				Informe a data de publicação.<hr>
				Obs.: esta data não fará a programação da publicação desta notícia.
			</p>
		</li>
		<li data-id="tituloDaMateria" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
			<h4>Terceiro passo</h4>
			<p>Escreva o título da Matéria.</p>
		</li>
		<li data-id="chamadaDaMateria" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
			<h4>Quarto Passo</h4>
			<p>
				Escreva o lead da Matéria.
			</p>
		</li>
		<li data-id="textoDaMateria" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
			<h4>Quinto Passo</h4>
			<p>Digite ou cole seu texto aqui.</p>
		</li>
		<li data-id="fonteDaMateria" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
			<h4>Sexto Passo <small>opcional</small></h4>
			<p>Aqui você pode inserir também, se precisar, a fonte da sua materia.</p>
		</li>
		<li data-id="acoesParaSalvar" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
			<h4>Por último</h4>
			<p>Finalize as configurações da sua Matéria.</p>
		</li>
		<li data-button="Fechar" data-prev-text="Anterior" data-options="tip_animation:fade">
			<h4>É isso!</h4>
			<p>Se precisar de ajuda, clique no botão de Info novamente.<br><br>Valeu!</p>
		</li>
	</ol>